@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: '#4999F8';
  --secondary: '#DDE9FD';
  --warning: '#F31260';
  --black-900: '#1C1C1E';
  --black-700: '#6E6D73';
  --black-500: '#B3B4B9';
  --black-300: '#E4E5EA';
  --black-100: '#FBFBFD';
}